html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nanum-Gothic";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

input {
  border: none;
}
